h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main_container{
  display: flex; 
  flex-direction: column;               /* Enable Flexbox */
  justify-content: space-between; /* Distributes space between items */
  align-items: center;         /* Align items vertically centered */
  gap: 20px;                   /* Space between items (for newer browsers) */
  padding: 10px;
  

}